
* {
  margin: 0;
}

/* body {
  background-color: #fbeec13f;
  display: inline-flex;
  align-content: center;
  justify-content: center;
} */

.badge {
  color: black;
  max-width: 75px;
  position: absolute;
  margin-left: 10px;
  margin-top: 20px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
  z-index: 0;
}

.containerCats {
  display: inline-flex;

}

.cats {
  font-size: x-large;
  font-family: 'Poppins', sans-serif;  
  margin-left: 30px;
  margin-top: 30px;
  background-color: #daad8679;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.575);
}

.cats:hover {
  background-color: #daad86;
}

.catsName {
  color: black;
  font-size: 25px;
  font-style: italic;
  font-weight: 550;
  text-align: center
}

.catsInfo {
  color: black;
  font-size: 15px;
  max-width: 300px;
  text-align: left;
}

.catsImage {
  max-width: 300px;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  position: static;
}

/* CAT LIST MODULES */

.catListContainer {
  justify-content: center;
  display:grid;
  align-items: center;
}

.catList {
  margin-top: 10px;
}

.filterButtons {
  margin-top: 150px;
  display: flex;
  margin-left: 100px;
  outline: red solid; 
  justify-content: space-evenly;
  max-width: 800px;
}

.button {
  justify-content: center;
  scale: 1.2;
  background-color: transparent;
  border: 2px solid #5f3f16;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #5f3f16;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button:hover {
background-color: #5f3f165e;
}