
* {
  margin: 0;
}


.badge {
  max-width: 75px;
  position: absolute;
  margin-left: 10px;
  margin-top: 20px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
  z-index: 0;
}


.containerCats {
  flex-direction: row;
  display:inline-flex;
}
.cats {
  font-size: x-large;
  font-family: 'Poppins', sans-serif;  
  flex-direction: column;
  display:inline-flex;
  margin-left: 30px;
  margin-top: 30px;
  background-color: #daad8679;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.575)
}
.catsName {
  font-size: 25px;
  font-style: italic;
  font-weight: 550;
  align-self: center;
}

.catsInfo {
  font-size: 15px;
  max-width: 300px;
  align-self: left;
}

.navbar {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.575);
  background-color: #FBEEC1;
  height: 100px;
  width: 100%;
  overflow: hidden;
  display:flex;
  align-items: center;
  position: fixed;
  z-index: 1;
} 
.email {
  color: #BC986A;
  font-family: 'Proza Libre', sans-serif;
  font-weight: 600;
  margin-left: 100px;
}
.phone {
  color: #BC986A;
  font-family: 'Proza Libre', sans-serif;
  font-weight: 600;
  margin-left: -200px;
}

.form {
  flex-direction: column;
  display:flex;
  position: absolute;
  margin-left: 90%;
  margin-top: 15px;
}

.Username {
  max-width: 100px;
  max-height: 12px;

}
.Password {
  max-width: 100px;
  max-height: 12px;

}

.signIn {
  color: #BC986A;
  font-family: 'Proza Libre', sans-serif;
  font-size: medium;
  font-weight: 600;
  margin-left: 120px;
  position: absolute;
  width: 60px;
  margin-top: 10px;
}


.signUp {
  color: #BC986A;
  font-family: 'Proza Libre', sans-serif;
  font-size: 11px;
  font-weight: 600;
  margin-top: 5px;
  /* position: absolute; */
}

.navLogo {
  scale: 0.3;
  margin: 0px 0 0 -350px;
}

.catsImage {
  max-width: 300px;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  position: static;
}

