
* {margin: 0;}

.cats {
  font-size: x-large;
  font-family: 'Poppins', sans-serif;  
  flex-direction: column;
  display:inline-flex;
  margin-left: 50px;
  margin-top: 20px;
  background-color: #31c48e3d;
  border-radius: 30px;
}
.catsName {
  font-size: 25px;
  font-style: italic;
  font-weight: 550;
  align-self: center;
}

.catsInfo {
  font-size: 15px;
  max-width: 300px;
  align-self: center;
}

.navbar {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.575);
  background-color: #398378;
  height: 100px;
  overflow: hidden;
} 

.navLogo {
  scale: 0.3;
  margin: -320px 0 0 -350px;
}

.catsImage {
  max-width: 300px;
  border-radius: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-color: black;
  outline: solid 3px #398378;
}

body {
  background-color: #39833950;
}