
.navbar {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.575);
    background-color: #FBEEC1;
    height: 100px;
    width: 100%;
    overflow: hidden;
    display:flex;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 100;
    margin: 0;
    margin-top: 0;
  } 

  .email {
    color: #BC986A;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 600;
    margin-left: 620px;
    position: fixed;
  }
  
  /* ICON OF EMAIL */
  
  .emailIcon,
  .emailIcon:after {
   display: block;
   box-sizing: border-box;
   height: 18px;
   border: 2px solid;
  }
  
  .emailIcon {
   overflow: hidden;
   transform: scale(var(--ggs,1));
   position: fixed;
   width: 22px;
   border-radius: 2px;
   color: #BC986A;
   margin-left: 585px;
   margin-top: 0px;
  }
  
  .emailIcon:after {
   content: "";
   position: absolute;
   border-radius: 3px;
   width: 18px;
   transform: rotate(-45deg);
   bottom: 7px;
   left: 0
  } 
  
  .phone {
    color: #BC986A;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 600;
    width: 100px;
    margin-left: 450px;
    position: fixed;
  }
  
  /* ICON OF PHONE */
  .phoneIcon {
    box-sizing: border-box;
    position: fixed;
    display: block;
    width: 30px;
    height: 30px;
    transform: scale(var(--ggs,1));
    color: #BC986A;
    margin-left: 415px;
    margin-top: -5px;
   }
   
   .phoneIcon:after,
   .phoneIcon:before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   
   .phoneIcon:after {
    width: 18px;
    height: 18px;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 12px;
    border-left: 4px solid;
    border-bottom: 4px solid;
    left: 2px;
    bottom: 2px;
    background:
    linear-gradient(
    to left,
    currentColor 10px,
    transparent 0
    ) no-repeat right 11px/6px 4px,
    linear-gradient(
    to left,
    currentColor 10px,
    transparent 0
    ) no-repeat -1px 0/4px 6px
   }
   
   .phoneIcon:before {
    width: 20px;
    height: 20px;
    border: 6px double;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    transform: rotate(-45deg);
    bottom: 2px;
    left: 2px
   } 
  
  .menu {
    position: absolute;
    color: #BC986A !important;
    list-style-type: none;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-left: 50%;
  }
  
  .menuHome, .menuInfo, .menuAllCats, .menuEducation {
    display: inline-block;
    padding: 5px;
    margin-left: 40px;
    border:transparent 2px solid;
  }
  
  .menuLink:hover {
    border:2px solid  #daad86;
    border-radius: 10px;
  }
  
  a {
    text-decoration: none;
    color: #BC986A;
  }
  
  .menuLink  {
    display: inline-block;
    padding: 5px;
    margin-left: 40px;
    border:transparent 2px solid;
  }
  
  .active {
    color: #5f3f16 !important;
    text-decoration: underline;
  }
  
  .form {
    flex-direction: column;
    display:flex;
    position: absolute;
    margin-left: 90%;
    margin-top: 15px;
  }
  
  .Username {
    max-width: 100px;
    max-height: 12px;
  }

  .Password {
    max-width: 100px;
    max-height: 12px;
  }
  
  .signIn {
    color: #BC986A;
    font-family: 'Proza Libre', sans-serif;
    font-size: medium;
    font-weight: 600 ;
    margin-left: 120px;
    position: absolute;
    width: 60px;
    margin-top: 10px;
  }

  .signIn:hover {
    color: #5f3f16;
    text-decoration: underline;
  }
  
  .signUp {
    color: #BC986A;
    font-family: 'Proza Libre', sans-serif;
    font-size: 11px;
    font-weight: 600;
    margin-top: 5px;
  }
  
  .signUp:hover {
    color: #5f3f16;
    text-decoration: underline;
  }
  
  .navLogo {
    scale: 0.3;
    margin: 0px 0 0 -350px;
  }

  /* LOGIN  */

    .loginIcon,
    .loginIcon::after,
    .loginIcon::before {
     display: block;
     box-sizing: border-box;
     border: 2px solid;
     border-radius: 100px;
     color: #5f3f16;
    }
    
    .loginIcon {
     overflow: hidden;
     transform: scale(var(--ggs,1));
     width: 22px;
     height: 22px;
     position: fixed;
     color: #5f3f16;
     scale: 2.5;
     right: 0;
     margin-right: 100px;
     margin-top: -11px;
    }
    
    .loginIcon::after,
    .loginIcon::before {
     content: "";
     position: absolute;
     top: 2px;
     left: 5px;
     width: 8px;
     height: 8px;
     color: #5f3f16;
    }
    
    .loginIcon::after {
     border-radius: 200px;
     top: 11px;
     left: 0px;
     width: 18px;
     height: 18px;
     color: #5f3f16;
    } 

      .logged,
    .logged::after,
    .logged::before {
     display: block;
     box-sizing: border-box;
     border: 2px solid;
     border-radius: 100px;
     color: #5f3f1648;
    }
    
    .logged {
     overflow: hidden;
     transform: scale(var(--ggs,1));
     width: 22px;
     height: 22px;
     position: fixed;
     color: #5f3f163b;
     scale: 2.5;
     right: 0;
     margin-right: 100px;
     margin-top: -28px;
    }
    
    .logged::after,
    .logged::before {
     content: "";
     position: absolute;
     top: 2px;
     left: 5px;
     width: 8px;
     height: 8px;
     color: #5f3f165e;
    }
    
    .logged::after {
     border-radius: 200px;
     top: 11px;
     left: 0px;
     width: 18px;
     height: 18px;
     color: #5f3f164b;
    } 

.logout {
  background-color: #5f3f16;
  border: none;
  border-radius: 6px;
  height: 25px;
  margin-top: 22px;
  color: #BC986A;
  font-family: 'Proza Libre', sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: fixed;
  margin-right: 78px;
  right: 0;
  margin-top: 50px;
}

.logout:hover {
  background-color: #5f3f1669;
  border: none;
  border-radius: 6px;
  height: 25px;
  margin-top: 22px;
  color: #5f3f16;
  font-family: 'Proza Libre', sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: fixed;
  margin-right: 78px;
  right: 0;
  margin-top: 50px;
}