
body {
    background-color: #daad8679;
}

.homeMain {
    padding: 10px;
    font-family: 'Poppins', sans-serif; 
    color: #5f3f16;

}

.homeH1 {

    font-weight: bold;
    /* color: #5f3f16; */
    margin-top: 150px;
    text-align: center;
    font-size: 50px;

}

.homeH2 {
    margin-top: 30px;
    text-align: center;
    /* color: #5f3f16; */
}

.homeP {
    margin-left: 200px;
    margin-right: 200px;

    text-align: justify;
    
}

.homeH3 {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;

}

.homePupils {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.card {
    margin-left: 200px;
    border: #BC986A solid;
    border-radius: 20px;
    padding: 10px;
    max-width: 300px;
    margin-top: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.575)
}

.card:hover {
    background-color:#bc986a3d ;
}

.cardH {
    margin-top: 50px;
    text-align: center;
    color: #5f3f16
}

.cardH:hover {
    text-decoration: underline !important; 
}

.description {
    margin-top: 15px;
    max-width: 300px;
    text-align: center;


}

.image {
    max-width: 300px;
    margin-bottom: -40px;
    height: 300px;
    border-radius: 20px;
}



.cards {
    display: flex;
    justify-content: center;
}

.arrowIcon {
    left: 100px;
    margin-top: 220px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    box-shadow: inset 0 0 0 2px;
    width: 24px;
    height: 6px;
    scale: 4;
   }
   
   .arrowIcon::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    right: 0;
    bottom: -2px
   } 

.pupil {
    margin-top: 40px;
    max-width: 320px;
    border: #BC986A solid;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.575); 
}

.pupil:hover {
    background-color:#bc986a3d 
}

.PupilName {
    color: #5f3f16;
    font-weight: 700;
    font-size: x-large;
    text-align: center;
}

.pupilImage {
    border-radius: 20px;
}

.pupils {
    display: flex;
    justify-content:space-evenly
}