body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }


.footer {
    background-color: #5f3f16a6;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    top: 50px;
    font-family: 'Poppins', sans-serif; 
    color: #BC986A;
    font-size: 15px;
    padding: 5px;
    width: 100% !important;
}